# .gitignore
# Haskell (ghc, cabal)

# Fichiers générés (compilation/objets...)
*.o
*.d
*.hi
/Builds
/Main
/Hash
/dist

# Fichiers temporaires/de sauvegarde auto...
*.autosave
*~
\#*#

# Fichiers cachés
.*

# NFS/Apache de l'IUT
*.m2
.nfs*
