#
# Décrit les fichiers ignorés par git
#

# Fichiers temporaires/de sauvegarde auto...
*.autosave
*~
\#*#

# Fichiers cachés
.*

# NFS/Apache de l'IUT
*.m2
.nfs*

# Fichiers générés (compilation/objets...)
*.o
*.d
*.hi
/Builds
/Main
/Hash

