@font-face {
    font-family: ff-dejavu-sans-light;
    src: url(/static/dejavu-sans-light.ttf);
}
@font-face {
    font-family: ff-dejavu-sans-mono;
    src: url(/static/dejavu-sans-mono.ttf);
}

/***  Reset & Global ***/

*:focus
{
    outline: 0;
}
body
{
    /* adaptÃ© de l'article d'alsacrÃ©ation */
    font-family: "DejaVu Sans Light", ff-dejavu-sans-light, "DejaVu Sans", Verdana, "Bitstream Vera Sans", Geneva, sans-serif;

    margin: 0;
    padding: 0;

    color: rgb(45,45,45);
    background-image: url(/static/bg.png); /* site de kde */
    background-repeat: repeat;
}

a
{
    color: black;
    text-decoration: none;
    display: inline-block;
}
h1 a, h2 a
{
    border: none;
    color: inherit;
}

a > .pop
{
    border-radius: 5px;
    box-shadow: 0 4px 0 rgba(210,210,240,1);
    position: relative;
    top:  0;
    left: 0;
    transition: all 0.1s linear;
    background-color: rgb(235,235,255);

    padding: 0 6px;
}
a:hover > .pop
{
    top:  4px;
    left: 0;
    box-shadow: 0 0 0 rgba(210,210,240,1);
}

hr
{
    margin: 40px auto;
    width: 500px;
    border: none;
    border-bottom: 1px solid rgb(230,230,230);
}

ul
{
    list-style-type: square;
}
li
{
    padding: 2px 0;
}



table
{
    text-align: left;
    border-collapse: collapse;
    margin: auto;
    border: 1px solid rgb(110,110,110);
}
tr
{
    background-color: rgba(255,255,255,0.2);
}
tr:nth-child(2n)
{
    background-color: rgba(110,110,110,0.06);
}
td
{
    padding: 2px 6px 2px 6px;
    border-right: 1px dashed rgba(110,110,110,0.3);

    margin: 0;
}
th
{
    padding: 4px 6px 4px 6px;
    color: white;
    background-color: rgb(110,110,110);
    font-weight: normal;
}
thead td
{
    border: none;
    background-color: rgb(70,70,70);
}

.center
{
    text-align: center;
}

.welcome
{
    max-width: 17cm;
    margin: 60px auto;

    border: 1px solid rgb(220,220,220);
    border-width: 0 1px;
    border-radius: 18px;
    padding: 17px;

    color: rgb(120,120,120);
    font-style: italic;
    text-align: justify;
}



/***  Button  ***/

.button em
{
    font-style: normal;
    font-weight: bold;
}
.button
{
    display: inline-block;
    color: white;
    font-size: 110%;
    border: none;
}
.button:hover > .pop
{
    top:  4px;
    left: 0;
    box-shadow: 0 0 0 rgb(165,165,255);
}
.button.reverse:hover > .pop
{
    top:  -4px;
    left: 0;
    box-shadow: 0 0 0 rgb(165,165,255);
}
.button > .pop
{
    display: block;
    position: relative;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: rgb(140,140,230);
    transition: all 0.1s linear;

    top:  0;
    left: 0;
    box-shadow: 0px 4px 0 rgb(165,165,255);
    /*background-color: rgb(140,140,230);*/
}
.button.reverse > .pop
{
    top:  0;
    left: 0;
    box-shadow: 0 -4px 0 rgba(140,140,230,0.6);
}


/***  Box ***/

.box
{
    box-sizing: border-box;
    border-radius: 15px;

    padding: 0;

    position: relative;
    z-index: 10;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 3px 10px rgba(0,0,0,0.06), inset 0 0 0 1px rgb(220,220,220);
}

.box h1, .box h2
{
    margin: 0;
}
.box h1
{
    padding: 15px 0 0 15px;
    font-weight: bold;
    font-size: 160%;
}
.box h2
{
    padding: 0 0 15px 15px;
    font-weight: normal;
    font-size: 110%;
    border-bottom: 1px solid rgb(240,240,240);
    margin-bottom: 25px;
}

.box aside, .box .content
{
    display: inline-block;
    vertical-align: top;
}
.box .content
{
    width: 65%;
    padding: 10px;
    box-sizing: border-box;
}
.box .mask
{
    overflow: hidden;
    border-radius: 15px;    
}
.box aside
{
    height: 0;
    width: 35%;
}
.box .more
{
    position: absolute;
    bottom: 0;
}
.box aside img
{
    vertical-align: top;
    display: inline-block;
    width: 100%;

    position: relative;
    z-index: 11;
}
.box aside img:last-child
{
    box-shadow: 1000px 0 0 1000px rgb(220,220,220);

    position: relative;
    z-index: 10;
}

.box.more .mask
{
    padding-bottom: 40px;
}
.box .more
{
    margin-bottom: 4px;
}
.box .more .button > .pop
{
    border-radius: 0;
    padding: 5px 15px;
}
.box .more .button
{
    border-radius: 0;

    font-size: 100%;
}
.box .more .button:first-child > .pop
{
    border-bottom-left-radius: 15px;
}
.box .more .button:last-child > .pop
{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.box .more .button:nth-child(2n) > .pop
{
    background-color: rgb(150,150,230);
}


/***  Body class  ***/

.body
{
    text-align: justify;
}

.body h2, .body h3, .body h4, .body h5, .body h6
{
    text-align: left;
    clear: both;
}

.body h2
{
    margin: 80px 0 15px 0;
    font-size: 230%;
    font-weight: normal;
    border-bottom: 1px solid rgb(230,230,230);
}
.body h3
{
    margin: 50px 0 10px 0;
    font-size: 170%;
    font-weight: bold;

    color: rgb(120,120,220);
    text-shadow: 0 2px 2px rgba(165,165,255,0.5);
}
.body h4
{
    text-align: left;
    margin: 30px 0 15px 0;
    font-size: 150%;
    font-weight: bold;

    text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.body h5
{
    text-align: left;
    margin: 30px 0 10px 0;
    font-size: 110%;
    font-weight: bold;

    color: rgb(120,120,220);
    text-shadow: 0 2px 1px rgba(165,165,255,0.4);
}
.body h6
{
    text-align: left;
    margin: 25px 0 10px 0;
    font-size: 100%;
    font-weight: bold;

    color: rgb(90,90,90);
    text-shadow: 0 2px 1px rgba(0,0,0,0.1);
}

.body h2 + *, .body h3 + *, .body h4 + *, .body h5 + *, .body h6 + *
{
    margin-top: 0;
}


.body p
{
    margin: 0;
}
.body > p, .body > table, .body > .table, .body > pre, .body > ul
{
    margin-bottom: 20px;
}


.body ul
{
    padding-left: 35px;
}
.body > ul
{
    padding-left: 15px;
}

.body li
{
    color: rgb(100,100,210);
}
.body li:nth-child(2n)
{
    color: rgb(60,60,90);
}

.body img
{
    float: right;
    clear: both;
    margin: 0 0 15px 15px;

    border: 10px solid rgba(255,255,255,0.4);
}

.body img, .body pre code, table
{
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    clear: both;
}

/***  Source Code Highlighting  ***/

/* https://benjeffrey.com/pandoc-syntax-highlighting-css */
pre
{
    margin: 0;
    text-align: center;

    font-size: 100%;
    font-family: "DejaVu Sans Mono", ff-dejavu-sans-mono, Monaco, "Lucida Console", "Andale Mono", monospace;
}
pre code
{
    padding: 10px 10px 10px 0px;
    box-sizing: content-box;
    border-left: 15px solid rgba(255,255,255,0.1);

    color: rgb(240,240,240);
    background-color: rgba(0,0,0,0.75);
}
code
{
    display: inline-block;
    text-align: left;
    padding: 0 5px;

    font-size: 100%;
    font-family: "DejaVu Sans Mono", ff-dejavu-sans-mono, Monaco, "Lucida Console", "Andale Mono", monospace;

    border-radius: 5px;
    
    color: black;
    border: 1px solid rgba(0,0,0,0.1);
}

pre code > span.kw { color: #f0dfaf; font-weight: bold; }
pre code > span.dt { color: #dfdfbf; }
pre code > span.dv { color: #dcdccc; }
pre code > span.bn { color: #dca3a3; }
pre code > span.fl { color: #c0bed1; }
pre code > span.ch { color: #dca3a3; }
pre code > span.st { color: #cc9393; }
pre code > span.co { color: #7f9f7f; font-style: italic; }
pre code > span.ot { color: #efef8f; }
pre code > span.al { color: #ffcfaf; }
pre code > span.fu { color: #efef8f; }
pre code > span.er { color: #c3bf9f; font-weight: bold; }

code > span.kw { color: #204a87; font-weight: bold; }
code > span.dt { color: #204a87; }
code > span.dv { color: #0000cf; }
code > span.bn { color: #0000cf; }
code > span.fl { color: #0000cf; }
code > span.ch { color: #4e9a06; }
code > span.st { color: #4e9a06; }
code > span.co { color: #8f5902; font-style: italic; }
code > span.ot { color: #8f5902; }
code > span.al { color: #ef2929; }
code > span.fu { color: #000000; }
code > span.er { font-weight: bold; }

/***  Header, Footer, Menu ***/
header
{
    margin-bottom: 40px;
    background-color: rgb(100,100,100);

    color: rgba(255,255,255,0.7);

    position: relative;
}
header .main
{
    text-align: center;
}
header .main > div
{
    /* display: inline-block; */
    /* vertical-align: bottom; */
    /* text-align: right; */
    /* direction: rtl; */

    /* width: 0px; */
    /* white-space: nowrap; */

    /* margin: 0 5px -2px 0; */

    font-size: 110%;

    transform: translateY(-50%);

    padding-left: 10px;
    text-align: left;
    position: absolute;
    left: 0;
    top: 50%;
}
header h1, header h2
{
}
header h1
{
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
header h2
{
    margin: 0;
    font-size: 80%;
    font-weight: normal;
}
header .logout
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}


footer
{
    color: rgba(255,255,255,0.8);
    font-size: 80%;
    margin: 100px 0 0 0;
    padding: 10px;
    text-align: center;

    background-color: rgb(100,100,100);
}
footer a
{
    border: none;
    color: rgb(255,255,255);
}
footer ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer li
{
    display: inline;
    padding: 0 20px;
}
footer .heart
{
    color: rgb(220,50,50);
    font-style: normal;
}


nav
{
    display: inline-block;
    white-space: nowrap;

    font-size: 370%;
    margin: 0 0 0 0;
}
nav a
{
    display: inline-block;

    margin: 0;
    padding: 5px 1.3% 5px 1.3%;
    text-decoration: none;

    color: rgb(210,210,210);

    //border-top: solid rgb(150,150,150) 4px;
}
nav a > span
{
    display: inline-block;
    padding: 0 15px;

    position: relative;
    top: -6px;

    text-shadow:  0 1px 0 rgb(75,75,75)
                 ,0 2px 0 rgb(75,75,75)
                 ,0 3px 0 rgb(75,75,75)
                 ,0 4px 0 rgb(75,75,75)
                 ,0 5px 0 rgb(75,75,75)
		 ,0 6px 0 rgb(75,75,75);
                 /*,0 3px 8px rgba(255,255,255,0.7);*/

    transition: all 0.1s linear;
}
nav a:visited
{ /*color: inherit;*/ }
nav a.current, nav a.current:hover
{
    background-color: rgb(110,110,110);
    color: white;
    //border-top: solid white 4px;
}

nav a:hover
{
    background-color: rgb(110,110,110);
    box-shadow: none;
}
nav a:hover > span, nav a.current > span, nav a.current:hover > span
{
    top: -2px;
    text-shadow:  0 1px 0 rgb(75,75,75)
                 ,0 2px 0 rgb(75,75,75);
                 /*,0 2px 4px rgba(0,0,0,0.2);*/
}

/***  Code  ***/
.project
{
    max-width: 27cm;
    margin: 40px auto;
}
.project .desc
{
    margin-bottom: 20px;
}
.project .info
{
    border: 1px solid rgba(230,230,230,0.7);
    border-radius: 5px;
    color: rgb(100,100,100);
    display: inline-block;
    padding: 6px;
    margin: 12px 12px 0 0;

    font-size: 90%;
}
.project ul.info
{
    list-style-type: none;
}
.project ul.info li
{
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
    font-size: 90%;
}
.project ul.info li:last-child
{
    margin-right: 0;
}
.project ul.info li em
{
    font-style: normal;
    font-size: 110%;
}

.tiny-projects
{
}
.tiny-projects .project
{
    background-color: rgba(255,255,255,0);
    box-shadow: inset 0 0 0 1px rgb(220,220,220);
    //border-radius: 0;
    //box-shadow: none;
}
.tiny-projects h1
{
    padding: 5px 0 0 5px;
    font-size: 130%;
}
.tiny-projects h2
{
    padding: 0 0 10px 5px;
}
.project.tiny .info
{
}

/***  Blog  ***/
.tags
{
    font-size: 70%;
    list-style-type: none;
    padding: 0;
}
.tags li
{
    display: inline-block;
    margin: 0 3px;
}

.date
{
    font-size: 80%;
    color: rgb(90,90,90);
}
.date em
{
    font-size: 112%;
    font-style: normal;
}
.date time
{}




.post-preview
{
    max-width: 27cm;
    margin: auto;
}
.post-preview .box
{
    //box-shadow: 0px 4px 0 rgb(210,210,210);
}
.post-preview div.header
{
    position: relative;
    text-align: right;
}
.post-preview .tags
{
    width: 40%;
    position: absolute;
    right: 15px;
    bottom: 0;
    margin: 0;
}
.thread-deco
{
    position: relative;
    z-index: 2;
    width: 1px;
    border-left: 4px solid rgb(220,220,220);
    border-right: 4px solid rgb(220,220,220);
    vertical-align: top;

    display: inline-block;
    height: 90px;
    margin-right: 50%;
}
.post-preview:first-of-type .thread-deco { height: 45px; }

.post-preview .date
{
    position: relative;
    z-index: 1;
    border-right: 9px solid rgb(220,220,220);
    padding: 5px 3px 5px 0;
    vertical-align: top;
    display: inline-block;
    margin-right: 50%;
}
.post-preview .date em
{
    display: block;
}

.post-preview .read-more
{
    display: block;
    color: rgb(100,100,100);
    padding: 20px 10px 10px 15px;
    border: none;
    font-size: 80%;
}
.post-preview .read-more span
{
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: rgb(100,100,100);
    border-radius: 15px;
    margin-right: 4px;
}
.post-preview .read-more span:nth-child(1) { transition: margin 0.3s ease-in-out 0.1s; }
.post-preview .read-more span:nth-child(2) { transition: margin 0.2s ease-in-out; }
.post-preview .read-more:hover span { margin-right: 30px; }
.post-preview .read-more:hover span:last-child { margin-right: 4px; }

.post
{
    max-width: 32cm;
    margin: auto;
}
.post .header h1, .post .header h2
{
    padding: 0;
    margin: 0;
}
.post .header h1
{
    font-size: 260%;
}
.post .header h2
{
    font-size: 150%;
    font-weight: normal;
    margin-bottom: 25px;
}

.post .date
{
    display: inline-block;
}
.post .date em, .post .date span, .post .tags
{
    color: rgb(140,140,140);
    display: inline-block;
    margin-right: 17px;
}
.post .tags
{
    margin: 0 0 0 -3px;
}

.post div.header
{
    border-radius: 15px;
    padding: 15px 15px 10px 15px;
    background-color: rgba(255,255,255,0.3);
    //border: 1px solid rgb(220,220,220);
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin-bottom: 25px;
}


.thread-label
{
    text-align: right;
}
.thread-label .center > *
{
    position: relative;
    z-index: 10;
    border-radius: 10px;
    border: 4px solid rgb(220,220,220);
    display: inline-block;
}

.prev .thread-deco { height: 70px; }
.thread-label .button, .thread-label .button
{
    padding: 2px 2px 6px 2px;
}
.thread-label h3, .thread-label h4
{
    margin: 0;
    padding: 7px 15px;

    font-size: 100%;
    font-style: italic;
    font-weight: normal;
    color: rgb(130,130,130); 
}

/***  Photos  ***/
body.photos
{
    background-color: rgb(90,100,90);
    color: white;
}
body.photos nav a
{
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,1);
}
body.photos nav a.current, body.photos nav a.current:hover
{
    color: white;
    border-color: white;
}
body.photos nav a:hover
{
    border-bottom: solid rgba(255,255,255,0.2) 2px;
}



/***  CV  ***/
.cv-body
{
    font-size: 80%;

    max-width: 22cm; /* A4 */
    margin: 0 auto;

    padding: 5px;
}
.cv-body sup
{
    font-size: 80%;
}
.cv-body a
{
    text-decoration: none;
}
.cv-body .big
{
    font-size: 110%;
}
.cv-body h1
{
    display: none;

    color: rgb(210,210,210);
    
    float: right;
    
    margin: 0;
    font-size: 200%;
    font-weight: normal;
    text-align: right;
}
.cv-body .button
{
    float: right; 
    font-size: 110%; 
}
.cv-body .contact > h2
{
    font-size: 235%;
    font-weight: normal;
    margin: 0;
    color: rgb(120,120,120);
}
.cv-body .contact > h3
{
    font-size: 125%;
    font-weight: normal;
    margin: 0 0 15px 0;
    color: rgb(120,120,120);

}
.cv-body .contact
{
    font-size: 85%;
    color: rgb(100,100,100);

    margin: 0 0 35px 0;
}
.cv-body .contact > div
{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
}
.cv-body .contact > img
{
    float: left;
    height: 85px;
    margin-right: 10px;
    padding: 0px;
    //border-width: 0;
}
.cv-body .tiny-box
{
    display: inline-block;
    
    background-color: rgba(255,255,255,0.2);
    /* box-shadow: 4px 4px 0px rgb(200,200,200); */
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);

    border: 3px solid white;
    
    margin: 0;
    padding: 10px;
}
.cv-body .half
{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    
    max-width: 50%;
}
.cv-body .half > h2, .cv-body .half > h3
{
    margin: 0;
}
.cv-body .half > *
{
    margin: 0 20px 11px 0;
}
.cv-body .tiny-box > *
{
    margin: 0 0 10px 0;
}
.cv-body .tiny-box > :last-child
{
    margin-bottom: 0;
}
.cv-body ul
{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.cv-body ul.tiny-box
{
    list-style-type: none;
    padding: 10px;
}
.cv-body .tiny-box li
{
    border: none;
    box-shadow: none;
    padding-left: 0;
}
.cv-body li
{
    border-left: 6px solid white;
    box-shadow: -6px 0 4px -6px rgba(0,0,0,0.1);
    margin: 0;
    margin-top: 9px;
    padding-left: 7px;
}
.cv-body li:first-child
{
    margin-top: 0;
}
.cv-body h2, .cv-body h3
{
    color: rgb(100,100,100);
    font-weight: bold;
    margin: 15px 0 0 0;
    padding: 0;
}
.cv-body h4, .cv-body caption
{
    color: rgb(100,100,100);
    text-align: left;
    font-size: 125%;
    font-weight: normal;
}
.cv-body caption a
{
    font-size: 80%;
    margin-left: 8px;
}
.cv-body table
{
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    border-collapse: collapse;

    border: 3px solid white;
}
.cv-body tr
{
    background-color: rgba(255,255,255,0.2);
}
.cv-body > p
{
    border-left: 1px solid rgb(220,220,220);
    padding: 9px;
}
.cv-body > *
{
    margin: 0 0 11px 0;
}
.cv-body > h4
{
    margin: 0;
}
.cv-body > h2, .cv-body > h3
{
    margin-bottom: 10px;
}
.cv-body td, .cv-body th
{
    padding: 11px 11px;
    vertical-align: top;
    text-align: left;

    /* reset */
    border: none;
}
.cv-body th
{
    white-space: nowrap;

    background-color: white;
    color: rgb(120,120,120);

    font-weight: normal;
}
.cv-body table.compact tr > td
{
    padding-top: 5px;
    padding-bottom: 5px;
}



/***  Old CV  ***/
/* #cv */
/* { */
/*     /\* font-family: "DejaVu Sans Light", sans-serif; *\/ */
/*     font-size: 80%; */

/*     max-width: 21cm; /\* A4 *\/ */
/*     margin: 0 auto; */

/*     padding: 7px; */
/* } */
/* #cv a */
/* { border: none; } */
/* #cv sup */
/* { */
/*     font-size: 80%; */
/* } */
/* #cv .more */
/* { */
/*     margin-left: 5px; */
/*     font-size: 75%; */
/*     color: black; */
/* } */
/* #cv h1 */
/* { */
/*     color: rgb(225,225,225); */

/*     float: right; */

/*     margin: 0; */
/*     font-size: 290%; */
/*     font-weight: normal; */
/*     text-align: right; */
/* } */
/* #cv .button */
/* { */
/*     float: right; */
/*     font-size: 150%; */
/* } */
/* #cv .contact > h2, #cv .contact > h3 */
/* { */
/*     font-size: 240%; */
/*     font-weight: normal; */
/*     margin: 0 0 13px 0; */
/*     color: rgb(120,120,120); */
/* } */
/* #cv .contact */
/* { */
/*     font-size: 80%; */
/*     color: rgb(100,100,100); */

/*     margin: 0 0 47px 0; */
/* } */
/* #cv .contact ul */
/* { */
/*     list-style-type: none; */
/*     padding: 0; */
/*     margin: 0; */
/* } */
/* #cv .contact > div */
/* { */
/*     display: inline-block; */
/*     vertical-align: top; */
/*     margin: 0 10px 0 0; */
/* } */
/* #cv .contact > img */
/* { */
/*     float: left; */
/*     height: 70px; */
/*     margin-right: 10px; */
/* } */
/* #cv .box */
/* { */
/*     width: auto; */
/*     display: inline-block; */

/*     border-radius: 7px; */
/*     border: 1px solid rgb(220,220,220); */

/*     box-shadow: 0px 3px 0px rgb(200,200,200); */
    
/*     margin: 0; */
/*     padding: 10px; */
/* } */
/* #cv .half */
/* { */
/*     display: inline-block; */
/*     vertical-align: top; */
    
/*     max-width: 50%; */
/* } */
/* #cv .half > * */
/* { */
/*     margin-right: 20px; */
/* } */
/* #cv .box > * */
/* { */
/*     margin: 0; */
/*     margin-bottom: 10px; */
/* } */
/* #cv .box > :last-child */
/* { */
/*     margin-bottom: 0; */
/* } */
/* #cv .box ul */
/* { */
/*     list-style-type: none; */
/*     padding-left: 0; */
/* } */
/* #cv ul.box */
/* { */
/*     list-style-type: none; */
/*     padding: 10px; */
/* } */
/* #cv .box li */
/* { */
/*     border-left: 3px solid rgb(230,230,230); */
/*     margin: 0; */
/*     margin-top: 7px; */
/*     padding-left: 5px; */
/* } */
/* #cv .box li:first-child */
/* { */
/*     margin-top: 0; */
/* } */
/* #cv h2, #cv h3 */
/* { */
/*     color: rgb(100,100,100); */
/*     font-weight: bold; */
/*     margin: 15px 0 0 0; */
/*     padding: 0; */
/* } */
/* #cv caption */
/* { */
/*     color: rgb(100,100,100); */
/*     text-align: left; */
/*     font-size: 125%; */
/* } */
/* #cv table */
/* { */
/*     border-radius: 5px; */
/*     box-shadow: 0px 3px 0px rgb(200,200,200); */
/*     border: 1px solid rgb(220,220,220); */
/* } */
/* #cv > p */
/* { */
/*     border-left: 1px solid rgb(215,215,215); */
/*     padding: 9px; */
/* } */
/* #cv > * */
/* { */
/*     margin: 0 0 15px 0; */
/* } */
/* #cv > h2, #cv > h3 */
/* { */
/*     margin-bottom: 11px; */
/* } */
/* #cv table */
/* { */
/*     border-collapse: collapse; */
/* } */
/* #cv tr:last-child > td */
/* { */
/*     border-bottom: none; */
/* } */
/* #cv tr > td */
/* { */
/*     padding: 11px 11px; */
/*     vertical-align: top; */
/* } */
/* #cv table.compact tr > td */
/* { */
/*     padding-top: 5px; */
/*     padding-bottom: 5px; */
/* } */




/***  Smartphone  ***/
/* @media (max-width: 500px) */
/* { */
/*     body */
/*     { */
/* 	padding: 0; */
/* 	margin: 0; */
/*     } */

/*     header */
/*     { */
/* 	margin-top: 0; */
/*     } */
/*     nav, header */
/*     { */
/* 	background-color: black; */
/* 	color: white; */
/*     } */
/*     nav */
/*     { */
/* 	text-align: left; */
/*     } */
/*     nav a */
/*     { */
/* 	margin: 0 0 5px; */
/* 	padding: 0; */
/* 	width: 50%; */
/* 	//border: 2px solid red; */

/* 	color: white; */

/* 	text-align: center; */
/*     } */
/*     nav a:visited */
/*     { color: inherit; } */
/*     nav a.current, nav a.current:hover */
/*     { */
/* 	//color: black; */
/* 	border-bottom: solid black 2px; */
/*     } */
/*     nav a:hover */
/*     { */
/* 	border-bottom: none; */
/*     } */
/* } */



/***  Print  ***/
@media print
{
    a
    {
	color: inherit;
    }
    a > .pop
    {
	background-color: initial;
	box-shadow: none;
	padding: 0;
	border-bottom: 1px dotted rgba(0,0,255,0.3);
	border-radius: 0;
    }

    /***  Cv  ***/
    body.cv
    {
	background-image: none;
	padding: 0;
    }
    body.cv > *
    {
	display: none;
    }
    body.cv > .cv-body
    {
	display: block;
	font-size: 70%;
	padding: 5px;
	max-width: none;
    }
    .cv-body a > .pop
    {
	border: none;
    }
    .cv-body .contact a
    {
	margin-bottom: 0;
    }
    .cv-body .noprint
    {
	display: none;
    }
    .cv-body .print
    {
	display: initial;
    }
    .cv-body table, .cv-body .tiny-box
    {
	background-image: url(/static/bg.png); /* Neverland theme Kde.org */
	background-repeat: repeat;
    }
    .cv-body li
    {
	border-color: rgb(247,247,247);
	box-shadow: none;
    }
    
}